<!DOCTYPE html>
<html lang="en">
<head>
    <title>Candidate Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <h2>Candidate Registration</h2>
    <form action="/register" method="POST">
        <label >Candidate ID:</label><br>
        <input type="text" name="candidate_id"><br><br>

        <label >Name:</label><br>
        <input type="text" name="name"><br><br>

        <label >Email:</label><br>
        <input type="email" name="email"><br><br>

        <label >Password:</label><br>
        <input type="password" name="password"><br><br>
        
        <button type="submit" >Register</button>

    </form>
    <p>
        {% if errors %}
        <ul class="error-list">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}
    </p>
    <a href="/login">Already Registered? Login</a>
    </div>
</body>
</html>